.App {
  height: 100vh;
  widows: 100vw;
}

.particles {
  position: fixed;
  /* background: lightcoral; */
  background: linear-gradient(
    136deg,
    rgb(68, 132, 206),
    rgb(26, 215, 192),
    rgb(155, 89, 182),
    rgb(255, 127, 127),
    rgb(236, 240, 241)
  );
  background-size: 500% 500%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: animateBackground 70s ease infinite;
  -moz-animation: animateBackground 70s ease infinite;
  -o-animation: animateBackground 70s ease infinite;
  animation: animateBackground 70s ease infinite;
}

@-webkit-keyframes animateBackground {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animateBackground {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animateBackground {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateBackground {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  color: white;
}

.info h1 {
  font-size: 5.5rem;
  margin: 15px;
  font-family: "Roboto", sans-serif;
}

.info p {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 200;
}

.contact {
  margin-top: 2rem;
}

.contactIcon {
  padding: 15px;
  color: white;
  text-decoration: none;
}

.contactIcon:hover {
  color: black;
}
